<app-admin-navbar></app-admin-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li class="title">Straipsniai <span class="add"><a [routerLink]="['/admin/posts/create']"><i class="material-icons add">add</i></a></span></li>
        <li class="post-li" *ngFor="let post of posts">
          <p class="title">{{post.title}}</p>
          <span class="buttons">
            <a [routerLink]="['/admin/posts/edit', post._id]" ><button class="edit"><i class="material-icons">mode_edit</i></button></a>
            <button class="delete" (click)="deletePost(post)"><i class="material-icons">delete</i></button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>