<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 col-sm-8 offstet-sm-2">
        <form class="form-signin">
    <h2 class="form-signin-heading">Prašome prisijungti</h2>
        <label for="username" class="sr-only">Vartotojo vardas</label>
        <input type="text" id="username" class="form-control" placeholder="Vartotojo vardas" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Slaptažodis" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Prisijungti</button>
  </form>
    </div>
  </div>

</div>