.navbar{
    border-radius: 0;
    border: none;
}

.nav-top{
    margin-bottom: 0;
    background-color: #424242;
}

li.user{
    padding: 15px;
    color: white;
    margin-right: 30px;
}

a:hover{
    cursor: pointer;
}