<nav class="navbar navbar-inverse nav-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">bassomis admin</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="userService.loggedIn()" class="user">Labas, {{user?.name}}</li>
      <li *ngIf="userService.loggedIn()"><a (click)="logout()"><i class="material-icons">power_settings_new</i> Atsijungti</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-inverse nav-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li *ngIf="userService.loggedIn()"><a [routerLink]="['/admin/categories']">Kategorijos</a></li>
      <li *ngIf="userService.loggedIn()"><a [routerLink]="['/admin/posts']">Straipsniai</a></li>
      <li *ngIf="userService.loggedIn()"><a [routerLink]="['/admin/users']">Vartotojai</a></li>
    </ul>
  </div>
</nav>

