img.main-story-img{
    margin-top: 20px;
    width: 100%;
    object-fit: cover;
    height: 20vh;
}

h3.main-story-title{
    color: #212121;
    font-weight: bold;
    font-size: 2.1rem;
    margin-top: 15px;
    
}

h3.new-subtitle{
    margin: 0;
}

p.intro{
    color: #424242;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

a:hover{
    text-decoration: none;
}

p.read-more{
    color: #616161;
    font-size: 1.4rem;
}

p.read-more:hover{
    color: #212121;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.main-post-text{
    /*border: 1px solid #BDBDBD;*/
    padding: 10px;
    height: 200px;
    overflow: hidden;
       display: -webkit-box;
   -webkit-box-orient: vertical;
    line-height: 1.6em; 
     margin-bottom: 20px;
}



h1.news-title{
    font-size: 4rem;
    font-weight: bold;
    display: inline-block;
    border-bottom: none;
}

a.more{
    float: right;
    margin-top: 55px;
    font-size: 1.4rem;
    color: #616161;
    letter-spacing: -.04em!important;
}

.container{
    margin-top: 80px;
}

@media screen and (max-width: 456px) {
    p.intro{
        display: none;
    }
    h3.main-story-title{
        margin: 10px 0px;
        font-size: 1.6rem;
    }

    .main-post-text{
        padding: 0;
        
    }

    .container{
        margin-top: 80px;
    }

    .cnt{
        margin-top: 30px;
    }

    h1.news-title{
        margin: 0;
        font-size: 2.6rem;
    }

    h3.new-subtitle{
        font-size: 2.1rem;
    }

    .border{
        border-bottom: 1px solid #E0E0E0;
    }
}

@media screen and (max-width: 767px) {
    .main-post-text{
overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: 1.8em;        /* fallback */
   height: 62px; 
    }
}